/*font-family: 'Arvo', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
    margin: 0;
}

/*Header de todas las páginas*/
header {
    background-color:#f594a7;
    font-family: "Montserrat";
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    grid-area: head;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 0;
    margin-right: 50px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #232122;
}

.header__boton {
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    background-color: #972139;
    font-weight: 500;
    color: #f594a7;
    border-radius: 1rem;
    text-decoration: none;
}

.header__boton:hover {
    background-color: #232122;
}


.main , .cuerpo_style {
    background-image: url(../assets/img/fondo-tata.jpg);
    font-family: "Rubik";
}


/*footer de index y contacto*/

footer {
    background-color: #f594a7;
    grid-area: foot;
}

footer p {
    font-family: "Rubik";
    font-weight: 600;
    margin-left: 50px;
}

.icon_footer {
    font-size: 25px;
    color: #972139;
    margin: 15px;
}

.icon_footer:hover {
    color: #232122;
}

#footer_index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 50px;
}

/* asset style */
.asset-style {
    border-radius: 1rem;
    box-shadow: 5px 5px rgb(60, 60, 60, 0.6);
}

/*titulos*/
.titulo {
    margin: 0;
    padding: 10px;
    font-family: "Rubik";
    color: rgb(35, 33, 34, 0.7);
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #3c3c3c;
    font-size: xxx-large;
}

.parrafo {
    margin: 0;
}
.nombres {
    margin: 0;
}

/*index*/
.foto_index {
    display: flex;
    justify-content: center;
}

.imagen_principal{
    border-radius: 1rem;
}
.recortes_index {
    position: absolute;
    display: flex;
    align-self: flex-end;
}

.inicio_jesi {
    margin-right: 463px;
    border-radius: 1rem;
}

.inicio_gali {
    position: absolute;
    margin-left: 504px;
    margin-top: 34px;
}

/*integrantes*/
.section_integrantes { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.integrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;
}

.nombres { 
    position: absolute;
    align-self: self-end;
    color:#972139;
    text-shadow:#232122;
    margin-right: 5px;
    
}

.integrantes_boton { 
    font-family: rubik;
    font-weight: 500;
    text-decoration: none;
    background-color:#972139;
    color:#f594a7;
    border-radius: 1rem;
    padding: 10px;
    margin: 20px;
    margin-bottom: 9px;
}

.integrantes_boton:hover {
    background-color:#232122;
}

/*escuchanos*/
#header_escuchanos {
    align-items: center;
}

.escuchanos_boton {
    font-family: rubik;
    font-weight: 500;
    text-decoration: none;
    background-color: #f594a7;
    color: #F5F7F3;
    border-radius: 1rem;
    padding: 10px;
    margin: 20px 20px;
}


/*galeria*/
.main-galeria {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.section1 {
    grid-area: sec1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.section2 {
    grid-area: sec2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img3 {
    margin-bottom: 15px;
}

.grid-conteiner {
    display: grid;
    background-image: url(../assets/img/fondo-tata.jpg);
    grid-template-columns: 45% 30% 25%;
    grid-template-rows: 7% 36% 42% 8% 7%;
    grid-template-areas: 
    "head head head"
    "main sec1 sec1"
    "main sec2 sec2"
    "none sec2 sec2"
    "foot foot foot"
    ;
}

/*contacto*/
#cuerpo_contacto {
    display: flex;
}

.info_contacto {
    font-family: Montserrat;
    font-weight: 500;
 }
