/*font-family: 'Arvo', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
    margin: 0;
}

/*Header de todas las páginas*/
header {
    background-color:#f594a7;
    font-family: "Montserrat";
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: head;
}

.header-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 0;
    margin-right: 50px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #232122;
}

.header__boton {
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    background-color: #972139;
    font-weight: 500;
    color: #f594a7;
    border-radius: 1rem;
    text-decoration: none;
}

.header__boton:hover {
    background-color: #232122;
}

.dropdown {
    display: none;
}

.main , .cuerpo_style {
    background-image: url(../assets/img/fondo-tata.jpg);
    font-family: "Rubik";
}


/*footer de index y contacto*/

footer {
    background-color: #f594a7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-area: foot;
}

footer p {
    font-family: "Rubik";
    font-weight: 600;
    margin-left: 50px;
}

.icon_footer {
    font-size: 25px;
    color: #972139;
    margin: 15px;
}

.icon_footer:hover {
    color: #232122;
}

#footer_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 50px;
}

/* asset style */
.asset-style {
    border-radius: 1rem;
    box-shadow: 5px 5px rgb(60, 60, 60, 0.6);
    width: auto;
}

/*titulos*/
.titulo {
    margin: 0;
    padding: 10px;
    font-family: "Rubik";
    color: rgb(35, 33, 34, 0.7);
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px #3c3c3c;
    font-size: xxx-large;
}

.parrafo {
    margin: 0;
}
.nombres {
    margin: 0;
}

/*index*/
.foto_index {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.imagen_principal{
    border-radius: 1rem;
}
.recortes_index {
    position: absolute;
    display: flex;
    align-self: flex-end;
}

.inicio_jesi {
    margin-right: 463px;
    border-radius: 1rem;
}

.inicio_gali {
    position: absolute;
    margin-left: 504px;
    margin-top: 34px;
}

/*integrantes*/
.section_integrantes { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.integrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;
}

.nombres { 
    position: absolute;
    align-self: self-end;
    color:#972139;
    text-shadow:#232122;
    margin-right: 5px;
    
}

.integrantes_boton { 
    font-family: rubik;
    font-weight: 500;
    text-decoration: none;
    background-color:#972139;
    color:#f594a7;
    border-radius: 1rem;
    padding: 10px;
    margin: 20px;
    margin-bottom: 9px;
}

.integrantes_boton:hover {
    background-color:#232122;
}

/*escuchanos*/
.section-escuchanos{
    grid-area: title;
}

.main-escuchanos{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.aside-escuchanos {
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escuchanos_boton {
    font-family: rubik;
    font-weight: 500;
    text-decoration: none;
    background-color: #972139;
    color:#f594a7;
    border-radius: 1rem;
    padding: 10px;
    margin: 20px 20px;
}

.escuchanos_boton:hover {
    background-color: #232122;
}

.grid-escuchanos {
    display: grid;
    background-image: url(../assets/img/fondo-tata.jpg);
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 9% 75% 8%;
    grid-template-areas: 
    "head head"
    "title title"
    "main aside"
    "foot foot"
    ;
}

/*galeria*/
.main-galeria {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.section1 {
    grid-area: sec1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    flex-wrap: wrap;
}

.section2 {
    grid-area: sec2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.div-galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img3 {
    margin-bottom: 15px;
}

.grid-galeria {
    display: grid;
    background-image: url(../assets/img/fondo-tata.jpg);
    grid-template-columns: 45% 30% 25%;
    grid-template-rows: 6% 37% 42% 8% 7%;
    grid-template-areas: 
    "head head head"
    "main sec1 sec1"
    "main sec2 sec2"
    "none sec2 sec2"
    "foot foot foot"
    ;
}

/*contacto*/
.header-contacto {
    grid-area: head;
}

.section1-contacto {
    grid-area: sec1;
}

.section2-contacto{
    grid-area: sec2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-contacto {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-contacto {
    align-self: center;
}

.info_contacto {
    font-family: Montserrat;
    font-weight: 500;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
 }

 section div p {
    margin: 10px;
 }

 .fa-contacto {
    align-self: center;
    margin-right: 20px;
}

.redes-contacto {
    font-family: rubik;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    background-color:#972139;
    color:#f594a7;
    border-radius: 1rem;
    padding: 10px;
    margin: 20px;
    margin-bottom: 9px;
}

 .grid-contacto {
    display: grid;
    background-image: url(../assets/img/fondo-tata.jpg);
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas: 
    "head head"
    "sec1 sec1"
    "sec2 main"
    ;
 }


@media (max-width: 576px) {
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .header-desktop {
        display:none
    }

    .dropdown {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 10px;
    }

    .menu{
        background-color: #972139;
    }

    .desplegable {
        background-color: #972139;
        color: #f594a7;
        display: flex;
        justify-content: center;
        font-size: large;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer p {
        display: none;
    }

    
    /* index */


    /* integrantes */


    /* escuchanos */


    /* galeria */
    .main-galeria {
        justify-content: space-evenly;
        padding: 5px;
    }

    .section1 {
        padding-right: 0px;
        justify-content: center;
    }

    .section2 {
        flex-direction: column-reverse;
    }

    .div-galeria {
        flex-direction: row;
    }

    .img-sec2 {
        display: none;
    }

    .grid-galeria {
        grid-template-columns: 100%;
        grid-template-rows: 3% 35% 32% 28% 3%;
        grid-template-areas:
        "head"
        "main"
        "sec1"
        "sec2"
        "foot"
        ;
    }

    /* contacto */
    
}
 