<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/img/tata logo.png">
    <!--fontsawsome-->
    <script src="https://kit.fontawesome.com/e3897597e1.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Contactanos</title>
</head>
<body>
    <header>
        <a class="header__boton" href="escuchanos.html">Escuchanos</a>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="integrantes.html">¿Quiénes somos?</a></li>
            <li><a href="galeria.html">Galería</a></li>
    </header>
    <div class="cuerpo_style">
        <h1 class="titulo">CONTACTANOS</h1>
    </div>
    <div id="cuerpo_contacto" class="cuerpo_style">
        <section>
            <div>
                <img src="../assets/img/contacto/tata7.jpg" alt="Equipo de TATA">
            </div>
            <div>
                <div class="info_contacto">
                    <i class="fa-brands fa-whatsapp fa-contacto"></i>
                    <p>11-590094005</p>
                </div>
                <div class="info_contacto">
                    <i class="fa-regular fa-envelope fa-contacto"></i>
                    <p>guido@congo.fm</p>
                </div>
            </div>
        </section>
        <main>
            <form action="" method="get"></form>
            <!--acá va un formulario-->
        </main>
    </div>
    <footer>
        <a href="https://www.youtube.com/@CongoTATA" target="_blank"><i class="fa-brands fa-youtube icon_footer"></i></a>
        <a href="https://www.instagram.com/escuchocongofm/" target="_blank"><i class="fa-brands fa-instagram icon_footer"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100067099020580" target="_blank"><i class="fa-brands fa-facebook-f icon_footer"></i></a>
    </footer>
</body>
</html>