<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/img/tata logo.png">
    <!--fontsawsome-->
    <script src="https://kit.fontawesome.com/e3897597e1.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <title>Galería</title>
</head>

<body>
    <header>
        <a class="header__boton" href="escuchanos.html">Escuchanos</a>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="integrantes.html">¿Quiénes somos?</a></li>
            <li><a href="contacto.html">Contacto</a></li>
    </header>
    <main class="cuerpo_style">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TRGFT0jAcEI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r9oIzcU9WZo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </main>
    <section class="cuerpo_style">
        <img src="../assets/img/galeria/tata8.jpg" alt="Galia y Jesi">
        <img src="../assets/img/galeria/tata7.jpg" alt="Equipo de TATA">
        <img src="../assets/img/galeria/estudiocongo.jpg" alt="Estudio Congo">
        <img src="../assets/img/galeria/tata11.jpg" alt="Jesi y Galia">
        <img src="../assets/img/galeria/tata9.jpg" alt="Jesi y Galia">
    </section>
    <footer id="footer_index">
        <p>Escuchanos de lunes a viernes de 8hs a 10hs</p>
        <div id="footer_icons">
        <a href="https://www.youtube.com/@CongoTATA" target="_blank"><i class="fa-brands fa-youtube icon_footer"></i></a>
        <a href="https://www.instagram.com/escuchocongofm/" target="_blank"><i class="fa-brands fa-instagram icon_footer"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100067099020580" target="_blank"><i class="fa-brands fa-facebook-f icon_footer"></i></a>
        </div>
    </footer>
</body>

</html>