<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/img/tata logo.png" type="image/x-icon">
    <!--fontsawsome-->
    <script src="https://kit.fontawesome.com/e3897597e1.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>¿Quiénes somos?</title>
</head>
<body>
    <header>
        <a class="header__boton" href="escuchanos.html">Escuchanos</a>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="galeria.html">Galería</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main class="main">
        <h1 class="titulo">¿Quiénes somos?</h1>
        <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan fringilla risus. Ut ac sodales
            neque. Proin malesuada, elit vel euismod dictum, arcu libero euismod mi, quis rutrum justo mi et
            magna. Nulla vitae sagittis lorem. Nulla ac ligula porta, pulvinar lacus vitae, dignissim leo.</p>
    </main>
    <section class="cuerpo_style section_integrantes">
        <div class="integrantes">
            <h2 class="nombres">Jesicall</h2>
            <img class="asset-style" src="../assets/img/quienes.somos/jesicall.jpg" alt="Jesicall">
            <a class="integrantes_boton" href="https://www.instagram.com/jesicall/" target="_blank><i class="fa-brands fa-instagram"></i>    @jesicall</a>
        </div>
        <div class="integrantes">
            <h2 class="nombres">Galia</h2>
            <img class="asset-style" src="../assets/img/quienes.somos/galiamoldavsky.jpg" alt="Galia Moldavsky">
            <a class="integrantes_boton" href="https://www.instagram.com/galiamoldavsky/" target="_blank><i class="fa-brands fa-instagram"></i>    @galiamoldavsky</a>
        </div>
        <div class="integrantes">
            <h2 class="nombres">Rami</h2>
            <img class="asset-style" src="../assets/img/quienes.somos/drami2.jpg" alt="Rami Ruffini">
            <a class="integrantes_boton" href="https://www.instagram.com/ramiruffini_/" target="_blank><i class="fa-brands fa-instagram"></i>    @ramiruffini_</a>
        </div>
        <div class="integrantes">
            <h2 class="nombres">Tomi</h2>
            <img class="asset-style" src="../assets/img/quienes.somos/tomifigueroa.jpg" alt="Tomás Figueroa">
            <a class="integrantes_boton" href="https://www.instagram.com/tomyjfigueroa/" target="_blank><i class="fa-brands fa-instagram"></i>    @tomyjfigueroa</a>
        </div>
    </section>
    <footer class="footer">
        <p>Escuchanos de lunes a viernes de 8hs a 10hs</p>
        <div id="footer_icons">
        <a href="https://www.youtube.com/@CongoTATA" target="_blank"><i class="fa-brands fa-youtube icon_footer"></i></a>
        <a href="https://www.instagram.com/escuchocongofm/" target="_blank"><i class="fa-brands fa-instagram icon_footer"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100067099020580" target="_blank"><i class="fa-brands fa-facebook-f icon_footer"></i></a>
        </div>
    </footer>
</body>
</html>