@mixin flex($displayF, $justify, $align){
    display: $displayF;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex2 ($displayF, $justify){
    display: $displayF;
    justify-content: $justify;
}

@mixin grid($cols, $rows, $area){
    display: grid;
    background-image: url(../assets/img/fondo-tata.jpg);
    grid-template-columns: $cols;
    grid-template-rows: $rows;
    grid-template-areas: $area;
}

@mixin cuerpo-style{
    background-image: url(../assets/img/fondo-tata.jpg);
    font-family: "Rubik";
}

@mixin assets-index{
    border-radius: $border-r;
    box-shadow: 5px 5px nth($colores,4);
}
